{% extends "base.html" %}
{% block content %}
<h1>Leaderboard</h1>
<table>
    <tr><th>Rank</th><th>Name</th><th>Department</th><th>Points</th></tr>
    {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.department }}</td>
            <td>{{ user.points }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="4">No users available.</td></tr>
    {% endfor %}
</table>
<p>Points: Upload +10, Download +1, Rating &gt;=4 +5.</p>
{% endblock %}
